
<!-- ===================== SUBMIT JOB ================== -->

<!-- row separador -->
<tr id="sepSUBMIT" class="separadorH"><td></td></tr>

<!-- row menu 1 -->
<tr id="titSUBMIT" style="display: none;">
	<td class="menuRow"> <!-- celda menu1 -->

		<a href="javascript:miToggle('inputFileRowDiv','jobSumitToggleImg',0.8);">
		<%= image_tag "openTriangle.png" , {:alt => "Open triangle"}%>&nbsp;&nbsp;SUBMIT JOB</a>

	</td> <!-- fin celda menu1 -->
</tr> <!-- fin row menu 1 -->



<!-- row separador -->
<!-- <tr class="separadorH"><td></td></tr> -->




<!-- row inputfile -->
<tr id="rowSUBMIT" style="display: none;">
	<td> <!-- celda inputfile height="190" -->
		<div id="inputFileRowDiv">
		<table width="100%" border="0" cellspacing="10" class="inputFile">
			
		  <tr valign="top"> <!-- row tabla inputfile -->

				<!-- celda separadora izquierda -->
				<!-- <td class="separadorV">&nbsp;</td> -->
				
				<!-- celda para formulario upload-->
		    <td>
					<div class="rounded" id="formsDiv">
						<!-- ================= -->
						<!-- FORMULARIO UPLOAD -->
						<!-- ================= -->
						
						<!-- div para el fileUpload -->
				    <div id="formFileUploadDIV">

							<!-- formulario para subir fichero -->
	            <form action="/cgi-bin/cap3web/submit.cgi" method="post" enctype="multipart/form-data" target="upload_target" onsubmit="doSend();">

						 		<!-- contenido visible formulario -->
								<!-- no quitar useremail porque hace falta para enviar el formulario con el fichero y el id -->
								<p>
									<input id="FUSEREMAIL" type="HIDDEN" name="FUSEREMAIL" value="" size="20"/>
								
								<table border="0" cellspacing="4" cellpadding="0">
                  <tr>
                    <td>Job name:&nbsp;&nbsp;</td>
                    <td><input id="FJOBNAME" type="TEXT" name="FJOBNAME" value="" size="15"/>
                      <span style="text-align:right" id="barraProgreso">
												&nbsp;&nbsp;&nbsp;&nbsp;
												<!-- <img src="roundloader.gif" alt=""/> -->
 												<!--<img style="text-align:right; vertical-align:middle; display:none;" src="25-1.gif" width="31" height="31" alt="Progress Bar">-->
												<%= image_tag "25-1.gif" , {:alt => "Progress Bar"}%>
												
											</span>
											
											<!-- ojo con el scr del iframe, dicen que debe ser el script, pero no -->

										 <!-- iframe invisible para carga ficheros en background -->
                     <iframe id="upload_target" name="upload_target" src="#" style="width:0;height:0;border:0px solid #fff;">
                     </iframe>
										
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>                          
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><font color="#8B2627"><b>Sequences *:&nbsp;&nbsp;</b></font></td>
                    <!-- campo para subir fichero -->			                
                    <td><input name="inputFile" type="file" size="30" /></td>
                  </tr>
                  
                  <tr>
                    <td>&nbsp;</td>                          
                    <td>&nbsp;</td>
                  </tr>

                  
                  <tr>
                    <td>Quality file:&nbsp;&nbsp;</td>
                    <td><input id="qualityFile" name="qualityFile" type="file" size="30" />
                    <a href="javascript:wipeField('qualityFile');"><%= image_tag "borrar.png" , {:alt => "Borrar"}%></a>
                    </td>
                  </tr>
                  
                  <tr>
                    <td>Constraints file:&nbsp;&nbsp;</td>
                    <td><input id="constraintsFile" name="constraintsFile" type="file" size="30" />
                    <a href="javascript:wipeField('constraintsFile');"><%= image_tag "borrar.png" , {:alt => "Borrar"}%></a>
                    </td>
                  </tr>
                  
                  <tr>
                    <td>Clipping file:&nbsp;&nbsp;</td>
                    <td><input id="clippingFile" name="clippingFile" type="file" size="30" />
                    <a href="javascript:wipeField('clippingFile');"><%= image_tag "borrar.png" , {:alt => "Borrar"}%></a>
                    </td>
                  </tr>

                  
                  <tr>
                    <td>&nbsp;</td>                          
                    <td>&nbsp;</td>
                  </tr>
                  
                  <tr>
                    <td><font color="#8B2627">* Required field</font></td>
                    <!-- boton submit -->
                    <td style="text-align:right">
                      <input type = "button" value = "Send" onclick = "submit();doSend();"/>
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>                          
                    <td><!-- indicación de carga -->
								
								<!-- fin indicacion carga -->
</td>
                  </tr>
                  
                </table>
							
							
                <!--										
								<p id="f1_upload_form" align="left" style="vertical-align:middle"><br/>
								
								
								</p> 
                -->

				        <!-- fin contenido visible formulario -->


               	</form> <!-- fin formulario subir fichero -->

            </div> <!-- fileUploadDIV -->


						<!-- ============== -->
						<!-- FORMULARIO RUN -->
						<!-- ============== -->
						
						<!-- formRunDiv para el formulario -->
				    <div id="formRunDIV" style="display: none;">
					
							<!-- formulario para ejecutar el RUN -->
	            <form id='formRUN' action="/cgi-bin/cap3web/testParams.cgi" method="get">
		 <!-- enctype="multipart/form-data" onsubmit="run.start();"> -->
              <table id="cap3OptionsTable" border="0" cellspacing="5" cellpadding="0">
                <tr>
                  <th>Description</th>
                  <th>Restrictions</th>
                  <th>Default</th>
                
                  <th>Value</th>
                </tr>
                
              </table>
              
              <!-- rellena la tabla de opciones del Cap3 -->
                <script language="JavaScript" type="text/javascript">

                    addCap3Option('cap3OptionsTable','Band expansion size','N>10','20','a','11','&#8734;');
                    addCap3Option('cap3OptionsTable','Base quality cutoff for differences','N>15','20','b','16','&#8734;');
                    addCap3Option('cap3OptionsTable','Base quality cutoff for clipping','N>5','12','c','6','&#8734;');
                    addCap3Option('cap3OptionsTable','Max qscore sum at differences ','N>20','200','d','21','&#8734;');
                    addCap3Option('cap3OptionsTable','Clearance between no. of differences','N>10','30','e','11','&#8734;');
                    addCap3Option('cap3OptionsTable','Max gap length in any overlap','N>1','20','f','2','&#8734;');
                    addCap3Option('cap3OptionsTable','Gap penalty factor','N>0','6','g','1','&#8734;');
                    addCap3Option('cap3OptionsTable','Max overhang percent length','N>2','20','h','3','&#8734;');
                    addCap3Option('cap3OptionsTable','Match score factor N','N>0','2','m','1','&#8734;');
                    addCap3Option('cap3OptionsTable','Mismatch score factor','N<0','-5','n','&#8722;&#8734','&#8722;1');
                    addCap3Option('cap3OptionsTable','Overlap length cutoff','N>20','40','o','21','&#8734;');
                    addCap3Option('cap3OptionsTable','Overlap percent identity cutoff','N>65','80','p','66','&#8734;');
                    addCap3Option('cap3OptionsTable','Reverse orientation value','N>=0','1','r','0','&#8734;');
                    addCap3Option('cap3OptionsTable','Overlap similarity score cutoff','N>400','900','s','401','&#8734;');
                    addCap3Option('cap3OptionsTable','Max number of word matches','N>30','300','t','31','&#8734;');
                    addCap3Option('cap3OptionsTable','Min number of constraints for correction','N>0','3','u','1','&#8734;');
                    addCap3Option('cap3OptionsTable','Min number of constraints for linking','N>0','2','v','1','&#8734;');
                                             
//  -w  N  specify file name for clipping information (none)
//  -x  N  specify prefix string for output file names (cap)
                    addCap3Option('cap3OptionsTable','Clipping range','N>5','250','y','6','&#8734;');
                    addCap3Option('cap3OptionsTable','Min no. of good reads at clip pos','N>0','3','z','1','&#8734;');


/*                        addCap3Option('cap3OptionsTable','Band expansion size','N>10','20','a');
                    addCap3Option('cap3OptionsTable','Base quality cutoff for differences','N>15','20','b');
                    addCap3Option('cap3OptionsTable','Base quality cutoff for clipping','N>5','12','c');
                    addCap3Option('cap3OptionsTable','Max qscore sum at differences ','N>20','200','d');
                    addCap3Option('cap3OptionsTable','Clearance between no. of differences','N>10','30','e');
                    addCap3Option('cap3OptionsTable','Max gap length in any overlap','N>1','20','f');
                    addCap3Option('cap3OptionsTable','Gap penalty factor','N>0','6','g');
                    addCap3Option('cap3OptionsTable','Max overhang percent length','N>2','20','h');
                    addCap3Option('cap3OptionsTable','Match score factor N','N>0','2','m');
                    addCap3Option('cap3OptionsTable','Mismatch score factor','N<0','-5','n');
                    addCap3Option('cap3OptionsTable','Overlap length cutoff','N>20','40','o');
                    addCap3Option('cap3OptionsTable','Overlap percent identity cutoff','N>65','80','p');
                    addCap3Option('cap3OptionsTable','Reverse orientation value','N>=0','1','r');
                    addCap3Option('cap3OptionsTable','Overlap similarity score cutoff','N>400','900','s');
                    addCap3Option('cap3OptionsTable','Max number of word matches','N>30','300','t');
                    addCap3Option('cap3OptionsTable','Min number of constraints for correction','N>0','3','u');
                    addCap3Option('cap3OptionsTable','Min number of constraints for linking','N>0','2','v');
                                             
//  -w  N  specify file name for clipping information (none)
//  -x  N  specify prefix string for output file names (cap)
                    addCap3Option('cap3OptionsTable','Clipping range','N>5','250','y');
                    addCap3Option('cap3OptionsTable','Min no. of good reads at clip pos','N>0','3','z');

*/
                </script>

						 		<!-- contenido visible formulario -->
								<p id="f1_run_form" align="left"><br/>

                  

								
									<!-- boton submit -->
									<!-- <input type="submit" name="submitBtn" class="sbtn" value="Run" /> -->
									<input id="FRUNID" type="HIDDEN" name="FRUNID" value="0"/>
									
									<input type = "button" value = "Run" onclick = "doRun();"/>

								</p> <!-- fin contenido visible formulario -->

               	</form> <!-- fin formulario para ejecutar el RUN -->
						</div>

						<!-- indicación de carga -->
						<!-- <div id="barraProgreso">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="loader.gif" alt=""/>
						</div>  -->
						<!-- fin indicacion carga -->
						

						<!-- indicación de carga -->
						<!-- <div id="hitosProgreso"> -->
							<!-- <img src="stage0.png" alt=""/> -->
						<!-- </div>
						<div id="hitosProgresoText"> -->
							<!-- <img src="stagesText.png" alt=""/> -->
						<!-- </div> --> <!-- fin indicacion carga -->
						
					</div>
					
				</td> <!-- fin celda formulario upload -->
				
				<!-- inicio celda informacion -->					
				<td width="200">
					<div id="informationDIV" style="display: none;" class="rounded">
						<p><span id="fileName"></span></p>
						<p><span id="fileType"></span></p>
						<p><span id="sequenceType"></span></p>
						<p><span id="alignmentLength"></span></p>
						<p><span id="numberOfSequences"></span></p>
						<!--  -->
					</div>
				</td>


				<!-- fin celda informacion -->
											
		  </tr> <!-- fin row tabla inputfile -->
			
		</table>
		</div>
	</td> <!-- fin celda inputfile -->
			
			
</tr> <!-- fin row inputfile -->

<!-- ================== JOB LIST ==================== -->

<!-- row separador -->
<tr id="sepJOBLIST" style="display: none;" class="separadorH"><td></td></tr>

<!-- row menu Job List -->
<tr id="titJOBLIST" style="display: none;">
	<td class="menuRow"> <!-- celda Job List -->
		<a href="javascript:miToggle('rowJOBLIST','jobListToggleImg',0.4);">					<%= image_tag "closedTriangle.png" , {:alt => "Closed triangle"}%>&nbsp;&nbsp;JOB LIST</a>
	</td> <!-- fin celda Job List -->
</tr> <!-- fin row menu 1 -->

<!-- row job list -->
<tr id="rowJOBLIST" style="display: none;" align="center">
	<td>
		<table width="100%" border="0" cellspacing="10" cellpadding="0">
			<tr>
				<td> <!-- celda job list-->
					<div id="jobListRowDiv">
					
					</div>
				</td> <!-- fin job list -->
			</tr>
		</table>
	</td>
</tr> <!-- fin job list -->



<!-- ================== RESULTS ==================== -->

<!-- row separador -->
<tr id="sepRESULTS" style="display: none;" class="separadorH"><td></td></tr>

<!-- row menu results -->
<tr id="titRESULTS" style="display: none;">
	<td class="menuRow"> <!-- celda Job List -->
		<a href="javascript:miToggle('resultsRowDiv','resultsToggleImg',0.8);">					<%= image_tag "openTriangle.png" , {:alt => "Open triangle"}%> &nbsp;&nbsp;RESULTS<span id='JobNameSpan'><span></a>
	</td> <!-- fin celda results -->
</tr> <!-- fin row results -->

<!-- antes menu estaba aqui -->

<!-- row contenido -->
<tr id="rowRESULTS" style="display: none;">
		<td> <!-- celda contenido -->
			<div id="resultsRowDiv">
			<!-- tabla contenido -->
			<table width="100%" border="0" cellspacing="0" class="contenido">
				
				<!-- row menu 2 -->
				<tr>
						<!-- celda separadora izquierda -->
						<td class="separadorV">&nbsp;</td>
						
						<td>
							<div class="rounded" id="graphMenuDiv">
								
								<!-- tabla para menus graficas -->
								<table width="100%" border="0" cellspacing="0">
								  <tr>
								    <td> OUTPUT FILES </td>
								  </tr>
								 												
								</table>
							</div><!-- fin graph menu div -->
						</td>
				</tr> <!-- fin row menu 2 -->	
				
				<tr>
						<!-- celda separadora izquierda -->
						<td class="separadorV">&nbsp;</td>
						
						<td>
						  <table border="0" cellspacing="0" cellpadding="0">
						    <tr>
						      <td>
						        <div class="rounded" id="resultsDiv">

										</div><!-- fin graph menu div -->
								  </td>
								  
								  
								  <td style="width:100px">
								  </td>
								  
						      <td>
						      
						        <div class="rounded" id="resultsInfoDiv">
										</div><!-- fin graph menu div -->
						      
						      </td>
						    </tr>
						  </table>
							
						</td>
				</tr> <!-- fin row menu 2 -->	
				
			  
			</table> <!-- fin tabla contenido -->
			</div>
		</td> <!-- fin celda contenido -->

</tr> <!-- fin row contenido -->	
