			<!-- New Session  -->
			
			<!-- tabla de titulo -->
			<table width="100%" border="0" cellspacing="20" cellpadding="0" class="rowTitulo1">
				<tr>
					<!-- celda separadora izquierda -->
					<td class="separadorV">
						&nbsp;
					</td><!-- celda separadora -->
					
					<td colspan="2" width="70%" class="tituloGrande1">
						<p>
							<%= @command.title %>&nbsp;&nbsp; <span id="versionText1"></span>
							<br>
							<span class="tituloPequeno1"><%= @command.short_description %></span>
						</p>
					</td>
					
					
					<td align="center" style="vertical-align:middle" width="50%">

						<%= image_tag @command.corporate_logo , {:alt => "corporate-logo"} %>
					</td>
					
				</tr>
				<tr>
					<!-- celda separadora izquierda -->
					<td class="separadorV">
						&nbsp;
					</td>
					<td width="25%">
						
						

						<%= image_tag @command.command_logo , {:alt => "command-logo"}%>
						
					</td>
					<td>
						<span class="AMDescription"><%= @command.long_description %></span>
						<p>
							<span class="AMDescription">Please, identify yourself with your email. It will allocate your private account.</span>
						</p>
					</td>
					<td>
						<div id='loginDiv' class="rounded" style="background-color:#5A8F88;" align="right">
							
             <%= render :partial => 'login_box' %>

						</div>
          
            <div>
              <%= render :partial => 'links' %>
            </div>
            
					</td>
				</tr>
        <tr><td colspan="4">
            <%= render :partial => 'articles' %>
          
        </td></tr>
			</table><!-- fin tabla titulo -->
